*~

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# python
external/python/*.swp
external/python/*.pyc
external/python/*.log
external/python/.tox
external/python/.coverage
external/python/*.egg-info/
external/python/*.egg
external/python/build/
external/python/doc/build/
external/python/doc/source/api/
external/python/dist/
external/python/.testrepository/

